body {
    font-family: 'Source Sans Pro', sans-serif;
}

.planos {
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(199, 199, 199);
    text-align: center;
}

th, td, tr {
    border-right: 1px solid rgb(199, 199, 199);
}  

/* Classe da <table> */

tbody > tr:nth-child(odd) {
    background-color: #faf3f3;
}

.autonomo {
    background-color: #0078c1;
}

.pequenas-empresas {
    background-color: #009e2c;
}

tr td:first-child  {
    text-align: left;
}

.comprar {
    border: none;
    background-color: #d80606;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.linha-botoes th {
    padding: 15px 0;
    border-top: none;
}

.check-azul {
    color: blue;
    font-weight: bold;
}

.check-verde {
    color: green;
    font-weight: bold;
}

.linha-profissoes th {
    border: 0;
}

.cabecalho th {
    font-size: 15px;
    color: #ffffff;
    padding: 10px;
}