

body {
    background-color: rgba(179, 130, 186, 36%);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.cabecalho {
    text-align: center;
}

@media (max-width: 420px) {
    .cabecalho {
        margin-top: 8%;
        
        
    }

  }

.cabecalho__titulo {
    color: #5d1277;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
}

@media (max-width: 420px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

}



.container__conteudo, .container__ilustracao {
    display: inline-block;
    width: 300px;
    margin:0 20px;
    vertical-align: middle;
}

@media (max-width: 420px) {
    .container__conteudo {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__conteudo p {
        text-align: center;
    }

  }


.conteudo__subtitulo {
    margin: 0 auto;
    font-size: 16px;
}

.conteudo__btn--roxo {
    background-color: #5d1277;
    padding: 20px;
    border: 1px solid #5d1277;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.conteudo__btn--transparente {
    background-color: transparent;
    padding: 20px;
    border: 1px solid #5d1277;
    color: #5d1277;
    font-size: 16px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.ilustracao__gif {
    width: 320px;
}

@media (max-width: 420px) {
    .ilustracao__gif {
        margin-top: 30px;
    }
}