body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15);
}

.logo {
    display: inline-block;
    width: 200px;
    margin: 0 20px;
}

@media (max-width: 420px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu {
    list-style: none;
    margin: 0;
}

@media (max-width: 420px) {
    .menu {
        display: none;
    }
        
}

.menu__item {
    display: inline-block;
    margin: 0 10px;
}

.menu__item > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9013FE;
    font-weight: bold;
}

/*  mudamos aqui:
    .conteudo {
        width: estava em um tamanho fixo;
        margin: 0 auto;
    }    
*/

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .conteudo {
        flex-wrap: wrap;
    }
        
}

.autora {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.foto--redonda {
    display: block;
    width: 90px;
    margin: 0 auto;
    border-radius: 50px;
}

.legenda__texto--destacado {
    font-weight: bold;
}

.post {
    display: inline-block;
    width: 600px;
}

@media (max-width: 420px) {
    .post {
        margin: 5vw;
    }
        
}

.footer {
    background-color: #a9a9a9;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.logo--pequeno {
    width: 100px;
}

.creditos {
    display: inline-block;
    font-size: 11px;
    margin: 0;
}

