* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    /* width: 100%; */
}

p {
    font-size: 16px;
}

.navegacao {
    background-color: #a0bed0;
}

.menu {
    display: flex;
    list-style-type: none; 
    justify-content: flex-end;
    padding: 30px;
}

.menu li {
    margin: 0 20px;
    color: #ffff;
}

.cabecalho {
    background: url(../img/foto-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    /* width: 100%; */
}

.mundo-gelado {
    font-family: 'Varela Round', sans-serif;
    font-size: 105px;
    text-transform: uppercase;
    color: #ffff;
    font-weight: normal;
    letter-spacing: 8px;
}

.texto {
    text-align: center;
}

.cinza {
    color: #ffff;
}

.fonte-tamanho {
    font-size: 22px;
}

.botao {
    color: #ffff;
    background-color: #829dad;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    padding: 18px 30px;
    margin: 3% 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.titulo {
    padding-top: 10%;
}

.cabecalho-texto {
    /* display: inline-block; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.espacamento {
    padding-bottom: 20px;
}

.secao {
    padding: 70px 0;
    width: 40%;
}

.cabecalho--preto {
    color: white;
    background-color: black;
    height: 45vh;
}

.conteudo-principal {
    margin: 8% auto;
}

.siberia {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5% auto;
    /* margin: 15px auto; */
}

.siberia img {
    width: 70%;
}

.siberia-texto {
    /* margin-left: 3%; */
    border-left: 6px solid #829dad;
    padding-left: 25px;
}

.outros-lugares {
    width: 80%;
    margin: 3% auto;
}

/* @media (max-width: 420px) {
    .outros-lugares--bloco {
        display: flex;
        flex-direction: column;
    }

    .outros-lugares img {
        width: 400px;
        height: 400px;
    }
} */

.texto-mosaico {
    padding-top: 10px;
    color: #a5a5a5;
}

.outros-lugares img {
    width: 50%;
}

.outros-lugares--bloco {
    /* display: flex; */
    display: flex;
    align-items: center;
    background-color: black;
}

.groelandia-texto {
    margin: 0 3%;
    color: #ffff;
}

.antartida-texto {
    margin: 0 3%;
    text-align: right;
    color: #ffff;
}

/* .rodape {
    background: url(../img/foto-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
} */

.rodape-alinhar {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    /* border: 1px solid #ffff; */
    /* color: #ffff;    */
}

.contato {
    background-color: black;
    position: absolute;
    width: 100%;
}

.contato-conteudo {
    width: 30%;
    margin: 0 auto;
    color: #ffff;   

}

.contato-conteudo p {
    text-align: center;
    margin: 20% 0;
}

.lista-contato li {
    display: inline;
}

.img-tamanho {
    width: 40px;  
    /* padding: 0 6%; */
    margin: 0 6%;
}

.contato-conteudo ul {
    list-style-type: none; 
    /* border: 1px solid #ffff; */
    /* margin: 0 10%; */
    margin: 0 auto;
    width: 65%;

}

.cor-azul {
    color: #829dad;
}

/* .localizacao, .formulario, .contato-conteudo {
    border: 1px solid #ffff;
} */
