* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15); 
}

/* @media (max-width: 420px) {
    .menu {
        display: none;
    }

    .logo {
        margin: 0 auto;
    }
} */

.menu {
    list-style: none;
    padding-left: 0;
}

.menu li {
    display: inline-block;
    margin-left: 40px; 
    font-weight: bold;
    color: #5d1277;
    text-transform: uppercase;
}

.menu__link {
    text-decoration: none;
    color: #5d1277;
}

.logo {
    width: 220px;
}


.conteudo {
    margin-top: 8%;
    height: 50%;
}


.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {
   
    .menu {
        display: none;
    }

    .logo {
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        
    }

    .artigo {
        margin-top: 5%;

    }
}


.autora {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.autora__foto {
    width: 200px;
    border-radius: 50%;
}

.autora__perfil {
    width: 200px;
    padding-top: 15px;
}

.autora__nome {
    font-weight: bold;
}

.artigo {
    width: 100%;
    margin-left: 5%;
}

.artigo__lista {
    padding-left: 15px;
}

.rodape {
    background-color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.logo--pequeno {
    width: 120px;
    margin-right: 5px;
}

.assinatura {
    margin-left: 5px;
}



/* .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.conteudo__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.conteudo__artigo {
    width: 500px;
    margin-left: 30px;
}

.perfil__nome {
    font-weight: bold;
}

.perfil__foto {
    width: 250px;
    height: 258px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
} */

